/* main selectors */

* {
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    font-family: Montserrat, sans-serif;
    text-decoration: none;
}

body {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    background-color: black;
}


/* image container selectors */
img {
    width: 100%;
    display: block;
    height: 100%;
    object-fit: cover;
}

main {
    grid-column: span 4;
}

.grid-container {
    padding-inline-start: 0px;
    grid-template-rows: repeat(4, 250px);
    border: 1px solid black;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 10px;
}

.grid-item:first-child {
    grid-column: span 8;
}

.grid-item:nth-child(2) {
    grid-column: span 4;
}

.grid-item:nth-child(3) {
    grid-column: span 3;
}

.grid-item:nth-child(4) {
    grid-column: 4 / 10;
}

.grid-item:nth-child(5) {
    grid-column: -1 / -4;
}

.grid-item:nth-child(6) {
    grid-column: span 6
}

.grid-item:nth-child(7) {
    grid-column: 7 / -1;
}

.grid-item:nth-child(8) {
    grid-column: span 4;
}

.grid-item:nth-child(9) {
    grid-column: 5 / span 4;
}

.grid-item:nth-child(10) {
    grid-column: 9 / -1;
}

/* nav bar selectors */

a {
    color: white;
}

a:hover {
    color: orange;
}

i {
    color: white;
    width: 50px;
    margin-left: 10px;
}

nav {
    color: white;
    text-align: right;
    padding: 30px;
}

.nav-list li {
    text-transform: uppercase;
}

.nav-list li:first-child {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 30px;
}

.links {
    padding: 10px 0;
    font-size: 0.8em;
}

.icons-container {
    margin-top: 30px;
    
}




