/* main selectors */

* {
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    font-family: Montserrat, sans-serif;
    text-decoration: none;
}

body {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    background-color: black;
}


/* image container selectors */
img {
    width: 100%;
    display: block;
    height: 100%;
    object-fit: cover;
}

main {
    grid-column: span 4;
}

.grid-container {
    padding-inline-start: 0px;
    grid-template-rows: repeat(4, 250px);
    border: 1px solid black;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 10px;
    grid-template-areas: 
    "one one one one one one one one two two two two"
    "thr thr thr fou fou fou fou fou fou fiv fiv fiv"
    "six six six six six six sev sev sev sev sev sev"
    "eig eig eig eig nin nin nin nin ten ten ten ten";
}

.one {
    grid-area: one;
}

.two {
    grid-area: two;
}

.thr {
    grid-area: thr;
}

.fou {
    grid-area: fou;
}

.fiv {
    grid-area: fiv;
}

.six {
    grid-area: six;
}

.sev {
    grid-area: sev;
}

.eig {
    grid-area: eig;
}

.nin {
    grid-area: nin;
}

.ten {
    grid-area: ten;
}
/* nav bar selectors */

a {
    color: white;
}

a:hover {
    color: orange;
}

i {
    color: white;
    width: 50px;
    margin-left: 10px;
}

nav {
    color: white;
    text-align: right;
    padding: 30px;
}

.nav-list li {
    text-transform: uppercase;
}

.nav-list li:first-child {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 30px;
}

.links {
    padding: 10px 0;
    font-size: 0.8em;
}

.icons-container {
    margin-top: 30px;
    
}




